<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" type="text/css" href="../public/styles/style.css">
    <script src="../public/scripts/app.js"></script>
    <title>Document</title>
</head>

<body>
    <h1>Page Title</h1>
    <div id="map"></div>
    <form>
            <input id="name" type="text" name="name" placeholder="Name">
            <input id="address" type="text" name="address" placeholder="Address">
            <textarea id="message" type="text" name="message" placeholder="Message"></textarea>
            <input id="submit" type="submit" value="Submit"> 
        </form>  
</body>

</html>